@model Rental2.Components.LandLordNav.ViewModel

    <nav>
        <ul>
            Number of Unrented Properties
            <li>@Model.NumberOfUnrentedProperties</li>
            Current Outstanding Payments
            <li>@Model.OutstandingBalances</li>
        </ul>
    </nav>