@model Rental2.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<div class="wrapper">
    <div class="checkout container">
        <header>

            <h1>
                Create <br /> A New Rental Payment
            </h1>
            <p>
                We accept both PayPal and card payments.
            </p>
        </header>
        <form id="payment-form" method="post">
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
                <div class="input-wrapper amount-wrapper">
                    <label for="amount">
                        <span class="input-label">Amount</span>
                        <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
                    </label>
                </div>
            </section>

            <button class="button" type="submit"><span>Test Transaction</span></button>
        </form>
    </div>
</div>
<script src="https://js.braintreegateway.com/js/braintree-2.23.0.min.js"></script><script>
    var checkout = new Demo({
        formID: "payment-form"
    });
  var client_token = "@ViewBag.ClientToken";
  braintree.setup(client_token, "dropin", {
    container: "bt-dropin"
  });
</script>
@*<h2>Create</h2>
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Payment</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DateReceived" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateReceived" class="form-control" />
                <span asp-validation-for="DateReceived" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DueDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PaymentAmount" class="form-control" />
                <span asp-validation-for="PaymentAmount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YearlyRentalID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="YearlyRentalID" asp-items="@ViewBag.Items"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
