@model Rental2.Models.Payment

@{
    ViewData["Title"] = "Rent Payment";
}

<h2>Rent Payment</h2>

<form id="checkout" asp-action="/checkout" method="post">
    <div class="form-horizontal">
        <h4>Payment</h4>
        <hr /> 
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div id="payment-form"></div>
            <label asp-for="PaymentAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="submit" asp-for="PaymentAmount" value="PaymentAmount"  class="form-control" />
                <span asp-validation-for="PaymentAmount" class="text-danger" />
            </div>

        <div class="form-group">
            <label asp-for="DateReceived" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateReceived" class="form-control" />
                <span asp-validation-for="DateReceived" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DueDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="YearlyRentalID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="YearlyRentalID" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        var clientToken = "";
        braintree.setup(clientToken, "dropin", { container: "payment-form" });
    </script>
}
