body {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #C3C3C3;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 98vh;
    padding: .5em;
}

form-control,
input,
select,
textarea {
    max-width: 280px;
}

.TopBanner {
    display: flex;
    -ms-flex: 1, 1, 100%;
    -webkit-flex: 1, 1, 100%;
    flex: 1, 1, 100%;
    height: 25%;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #C3C3C3;
}

.TopLeft {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background-color: #C3C3C3;
    background-image: url("../images/Logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
    .TopLeft a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
    }

.TopCenter {
    -ms-flex: 4;
    -webkit-flex: 4;
    flex: 4;
    order: 0;
    background-image: url("../images/Skyline.png");
    background-size: cover;
    background-position: center;
    background-color: #C3C3C3;
    background-repeat: no-repeat;
    position: relative;
}

.TopRight {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background-color: #C3C3C3;
}

.MainBody {
    display: flex;
    -ms-flex: 1, 1, 100%;
    -webkit-flex: 1, 1, 100%;
    flex: 1, 1, 100%;
    height: 65%;
    background-color: #C3C3C3;
}

.Sidebar {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    order: 1;
    background-color: #C3C3C3;
    border: 1px solid black;
}

.Content {
    -ms-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    order: 2;
    background-color:#C3C3C3;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2em;
}

.Footer {
    -ms-flex: 1, 1, 100%;
    -webkit-flex: 1, 1, 100%;
    flex: 1, 1, 100%;
    height: 5%;
    background-color: #C3C3C3;
}

@media all and (max-width: 640px) {


    .TopBanner {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .MainBody {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .TopCenter {
        -ms-flex: 0;
        -webkit-flex: 0;
        flex: 0;
        order: 1;
        background-color: #C3C3C3;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#map {
    display: block;
    width: 500px;
    height: 400px;
    background-color: #58B;
}
