body {
	display: flex;
	flex-direction: column;
	background-color: white;
	flex-wrap: wrap;
	height: 98vh;
    padding: .5em;
}

.TopBanner {
	display: flex;
	flex: 1, 1, 100%;
	height: 25%;
	flex-wrap: wrap;
	background-color: red;
}

.TopLeft {
	flex: 1;    
    background-color: lightgray;
    background-image: url("../images/Logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.InnerImage {

}

.TopCenter {
	flex: 4;
	order 1;
    background-image: url("../images/Skyline.png");
    background-size: cover;
    background-position: center;
    background-color: #e4e4e4;
    background-repeat: no-repeat;
    position: relative;
}

.TopRight {
	flex: 1;
	background-color: lawngreen;
}

.MainBody {
	display: flex;
	flex: 1, 1, 100%;
	height: 65%;
	background-color: aqua;
}

.Sidebar {
	flex: 1;
	order: 1;
	background-color: purple;
}

.Content {
	flex: 5;
	order: 2;
	background-color: blue;
    overflow-y: scroll;
}

.Footer {
	flex: 1, 1, 100%;
	height: 5%;
	background-color: gray;
}

@media all and (max-width: 640px) {

  .TopBanner {
  	flex-direction: column;
  }

  .MainBody {
  	flex-direction: column;
  }

  .TopCenter {
	flex: 0;
	order 1;
	background-color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#map {
    display: block;
    width: 500px;
    height: 400px;
    background-color: #58B;
}