body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e4e4e4;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.navbar {
    background-image: url("../images/Skyline.png");
    background-position: center;
    background-color: #e4e4e4;
    background-repeat: no-repeat;
    position: relative;
    min-height: 400px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#map {
    display: block;
    width: 500px;
    height: 400px;
    background-color: #58B;
}
